body{
    font-family: Oswald, Arial, Helvetica, sans-serif;
    background: url(./bg1.jpg);
}
header{
    margin-top: 100px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    color: #fe56ef;
}
.dws-menu *{
    margin: 0;
    padding: 0;
}
.dws-menu ul,
.dws-menu ol{
    list-style: none ;
}
.dws-menu > ul{
    display: flex;
    justify-content: center;
}
.dws-menu > ul li a{
    padding: 15px 30px 15px 40px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.dws-menu > ul li:first-child{
    border-left: 4px solid #fe56ef;
}
.dws-menu > ul li{
    border-right: 4px solid #fe56ef;
}
.dws-menu li a:hover{
    background: #fe56ef;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}



.text1{
    margin-top: 100;
    padding-left: 550px;
    font-size: 30px;
}
.proger{
    height: 150px;
    width: 300px;
    padding-left: 500px;
}
.text2{
    margin-top: 30px;
    padding-left: 500px;
    font-size: 25px;
    width: 500px;
}